
<h1 class="text-2xl font-bold mb-4">開催イベント</h1>
<%= link_to 'イベント追加', new_admin_event_path, class: 'btn btn-neutral mb-10' %>

<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th></th>
        <th>CATEGORY</th>
        <th>TITLE</th>
        <th>STATUS</th>
        <th>OPTION</th>
      </tr>
    </thead>
    <tbody>
    <% @events.each do |event| %>
      <tr>
        <th><%= event.id %></th>
        <td><%= event.category %></td>
        <td><%= event.title %></td>
        <td><%= event.status %></td>
        <td>
          <%= link_to 'Show', admin_event_path(event), class: 'btn btn-sm' %>
          <%= link_to 'Edit', edit_admin_event_path(event), class: 'btn btn-secondary btn-sm' %>
          <%= link_to 'Delete', admin_event_path(event), class: 'btn btn-warning btn-sm', data: { turbo_method: :delete, turbo_confirm: 'Are You Sure?' } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
