<section class="p-20">
  <h1 class="text-6xl font-medium mb-4">
    EVENT
    <sapn class="text-2xl font-bold">開催イベント</sapn>
  </h1>

  <%= form_with model: [:admin, @event] do |form| %>
    <%= form.label :title, "Title", class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400' %>
    <%= form.text_field :title, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' %> <br />

    <%= form.label :category, "category", class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400' %>
    <%= form.text_field :category, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' %> <br />

    <%= form.label :content, "content", class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400' %>
    <%= form.text_area :content, rows: 20, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' %> <br />

    <%= form.submit 'Create', class: 'text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center' %>
  <% end %>

  <br />
  <%= link_to 'Back', admin_root_path, class: 'text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center' %>
</section>
