<!DOCTYPE html>
<html data-theme="retro" lang="ja">
  <head>
    <title>MATSURIService</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/frontend/navbar' %>
    <%= render 'shared/flash' if notice %>
    <main class="min-h-full mx-20">
      <%= yield %>
    </main>
  </body>
  <%= render 'shared/frontend/footer' %>
</html>
